extends main-layout
block content
  if !user
    br
    p Start using the app by logging in with your exisiting account on one of the service providers:
    ul
      li: a(href="/auth/github") GitHub
      br
      li: a(href="#") Google
  else
    p
      | Go to the main page 
      a(href='/main') here
