extends main-layout
block content
  .jumbotron
    h3 Welcome to Brainverse!
    p Brainverse is a collaborative electronic laboratory notebook for neuroimaging research.
    p
      | To learn more about Brainverse  
      a(href='https://github.com/ReproNim/brainverse') click here »
  if !user
    br
    p Start using the app by logging in with your exisiting account on one of the service providers:
    ul
      li: a(href="/auth/github") GitHub
      br
      li: a(href="#") Google
  else
    p
      | Go to the main page 
      a(href='/main') here
