include mixins
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title BrainVerse
    // Bootstrap
    link(href='/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/brainverse.css', rel='stylesheet')
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') ReproNIm
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              p.navbar-btn
                a.btn.btn-success(href='#') Sign In
            li
              a(href='#') Settings
            li
              a(href='#') Profile
            li
              a(href='#') Help
          form.navbar-form.navbar-right
            input.form-control(type='text', placeholder='Search...')
    .container-fluid
      .row
        .col-xs-3
          .well
            ul.nav.nav-list
              li.nav-header BrainVerse
              li.active
                a(href='#') Overview
              li
                a(href='#') Projects
              li
                a(href='#') Workflows
              li
                a(href='#') Executions
        .col-xs-9
          .jumbotron
            h1 BrainVerse
            p  Collaborative Electronic Laboratory Notebook
            p
              a.btn.btn-primary.btn-lg(href='https://github.com/ReproNim/brainverse', role='button') Learn more »
          if expressFlash
            p <strong>#{expressFlash }</strong>  
          
          .row
            .col-md-4.col-sm-6.col-xs-12
              +panel("NIMH Data Archive Data Dictionary", "default") 
                ul
                  li: a(href='/ndarImport.html') Search and Import NDA Data Dictionary »
                  li: a(href='/ndarImport.html') Select Terms and Generate Forms »
                  li
                    p
                      | Curate, Harmonize and Submit Terms to NDA
                  li: a(href='/acquistionForm.html') Collect Data »
                
            .col-md-4.col-sm-6.col-xs-12
              +panel("Plan an Experiment or a Study","default") 
                p
                  | Plan your sessions, create or use your instruments/tasks, assign task to personnels
                a(href='/project-planner-jq.html') Create Plan »    
            
            .col-md-4.col-sm-6.col-xs-12
              +panel("View and Update Experiment Plans", "default")
                p
                  | View and update experiment plans
                a(href='/project-plan-board.html') View Kanban Board »    
          .row
            .col-md-4.col-sm-6.col-xs-12
              +panel("Project Management", "default") 
                a(href='/addProject.html') Create a Project  »
                              
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='/dist/jquery/jquery.min.js', type='text/javascript')
    script.
      try{
      $ = jQuery = module.exports
      }catch(e){}
    script(src='/dist/bootstrap/bootstrap.min.js', type='text/javascript')
