extends main-layout
block content
  .row
    .col-md-4.col-sm-6.col-xs-12
      +panel("NIMH Data Archive Data Dictionary", "default") 
        ul
          li: a(href='/ndarImport.html') Search, Select Terms and Generate Forms »
          li
            p
              | Curate, Harmonize and Submit Terms to NDA
          li: a(href='/acquistionForm.html') Collect Data »
                
    .col-md-4.col-sm-6.col-xs-12
      +panel("Plan an Experiment or a Study","default") 
        ul
          li: a(href='/project-planner-jq.html') Create Plan » 
          li: a(href='/project-plan-board.html') View/Update Plan »   
    .col-md-4.col-sm-6.col-xs-12
      +panel("NIDM","default") 
        a(href='/nidm-search.html') Term Search »
          
//-  .row
    .col-md-4.col-sm-6.col-xs-12
      +panel("Project Management", "default")
        a(href='/addProject.html') Create a Project  »
          
